// CSS Reset

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Colors
$color1: #161616;
$color2: #242121;
$color3: #a52626;
$color4: #57667A;
$color5: #101316;
$color6: #eff5ff;
$color7: #101316;
$color20: #10213a;

// Flexbox
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.half-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 50vw;
}

.full-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100vw;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

// Font styles

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underlined {
    text-decoration: underline;
}

.home, .teams, .creators, .partners {
    text-transform: uppercase;
}

// Components
.coming-soon-container, .page-container, .homepage, .navbar-container, .about-container, .splash-container, .about-container, .sponsor-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.coming-soon-container, .page-container, .homepage, .about-container, .splash-container, .about-container, .sponsor-container {
    padding: 15rem 10vw 15rem;
    background-color: $color2;
}

// Page
body {
    background-color: $color1;
}

// Coming Soon 
.coming-soon-container {
    background-color: $color2;
    max-width: 60vw;
    margin: 5vw 20vw 0vw;
    padding: 5vh 0vw 5vh;
    border-top: 2vw solid $color3;
    border-bottom: 2vw solid $color3;
    h1, h2, h3 {
        color: white;
        padding: 1vw;
    }
    .coming-soon-header-container {
        @extend .row;
        font-size: 5vw;
    }
    .coming-soon-content {
        @extend .column;
    }
    .coming-soon-logo-row {
        @extend .row;
    }
    .coming-soon-logo {
        max-height: 15vw;
        max-width: auto;
    }
    .coming-soon-date, .coming-soon-detail {
        font-size: 2vw;
    }
    .coming-soon-content-title {
        font-size: 4vw;
    }
}

// Navbar
.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: calc(7vh + 1.5vw);
    min-width: 100vw;
    padding: 0.5vw 0vw 0vw;
    background-color: $color2;
    box-shadow: 0vh 1vw 4vw $color7;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 10;
}

.nav-logo {
    max-width: calc(4rem + 3vw);
    padding: 1vw;
}

.nav-option-row {
    @extend .row;
    justify-content: center;
    padding: 0vh 20vw 0vh 0vw;
}

.logo-container {
    size: 4vh;
}

.nav-button {
    @extend .column;
    justify-content: flex-start;
    padding: calc(3vw - 0.5vw) 2vw;
    font-size: calc(0.8rem + 1.5vw);
    cursor: pointer;
}

a.home:active {
    text-decoration: none;
    color: $color3;
}

a.home:link, a.home:visited, a.teams:link, a.teams:visited, a.creators:link, a.creators:visited, a.partners:link, a.partners:visited {
    color:white;
    text-decoration: none;
}

a.home:hover, a.teams:hover, a.creators:hover, a.partners:hover {
    color: $color3;
    transition: 0.3s;
}

// About

.about-header, .about-content {
    color:white;
    background-color: $color2;
}

h1.about-header-text {
    font-size: calc(2rem + 2vw);
    border-top: $color3 solid;
    padding: 1rem 0rem 3rem;
}